* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .container{
    width: 1000px;
    height: 600px;

} */
.main-h1{
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    color: red;
    text-shadow: 0 0 2px white;
}
.mx-auto {
    margin: 50px auto 50px;
}

.mb-3 {
    margin-bottom: 20px;
}

.mb-2 {
    margin-bottom: 10px;
}

.container {
    width: 1000px;
    border-radius: 10px;
}

.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
    margin: 0 auto;
}

.align-items-center {
    align-items: center;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
    padding: 10px;
    border: 0px solid black;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;

}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}


.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.pad {
    padding: 50px;
}

.d-inline {
    display: inline;
}

body>div {
    background-color: white;
    color: black;
    border: 2px dashed red;
    box-shadow:
        0 8px 25px rgba(255, 255, 255, 0.5),
        inset 0 4px 15px rgba(0, 0, 0, 0.7);

}

body div span,
body div p {
    font-size: 18px;
    font-weight: 600;
}

body {
    background-color: black;
}