*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}

.mx-auto {
    margin: 50px auto 50px;
}

.mb-3 {
    margin-bottom: 20px;
}

.mb-2 {
    margin-bottom: 10px;
}

.container {
    width: 800px;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 3px black;
    border: 1px dashed white;
}
.container > div{
    text-align: center;
}


.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
    margin: 0 auto;
}

.align-items-center {
    align-items: center;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
    padding: 10px;
    border: 0px solid black;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;

}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}


.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.pad {
    padding: 50px;
}

.d-inline {
    display: inline;
}

.p-1{
    padding: 20px;
}

.pr-2-title, .pr-4-title, .pr-5-title{
    text-align: center;
    padding-bottom: 15px;
}

input{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    border-radius: 10px;
}
.season, .votingCheck, .ageGroup{
    font-size: 20px;
}