*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: aliceblue;
    border-radius: 15px;
    border: 2px dashed black;
    margin: 5px;
    padding: 15px;
    display: block;
    width: 25%;
    text-align: center;
}

input, button{
    padding: 15px;
    margin: 5px;
}

.main.more{
    width: 50%;
}