* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    outline: none;
    border: none;
    background: transparent;
}

/* .task-list{
    color: white;
} */
ul li {
    position: relative;
    /* user-select: none; */
    padding: 12px 8px 12px 50px;
    display: flex;
    justify-content: space-between;
}

ul li::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 8px;
    border-radius: 50%;
    background: url(../images/unchecked.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background: url(../images/checked.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul li span {
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

ul li span:hover {
    background-color: #edeef0;
}

li {
    display: flex;
    align-items: center;
}