* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(145deg, #f1f1f1, #ffffff, #e2e2e2);
    color: #222;
}

.mx-auto {
    margin: 50px auto 50px;
}

.container {
    width: 1400px;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
}

.row {
    flex-wrap: wrap;
    margin: 0 auto;
    /* gap: 15px; */
}
.w-4{
    padding: 10px;
}


.w-4 {
    width: 33.33%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.882);
    padding: 20px;
}

.d-flex {
    display: flex;
}

.d-block{
    display: block;
}

.card{
    background-color: black;
    border: 1px solid white;
    color: antiquewhite;
    border-radius: 15px;
    border-left: 10px solid white;
    margin-bottom: 10px;

}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;  
    margin-bottom: 10px;
    border: 1px solid black;
}

p{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-color: #3a3a3a74;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;   
}

    p:hover{
        background-color: #7070705a;
    }
    .card:hover{
        border-left: 10px solid red;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }