*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    padding: 50px;
}

.container{
    width: 600px;
    margin: 0 auto;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
}

input, button{
    padding: 10px;
    margin-bottom: 15px;
}
h1{
    margin-bottom: 15px;
}


